[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
python-dotenv = "*"
autopep8 = "*"
uuid = "*"
psycopg2-binary = "*"
django-rest-knox = "*"
django-imagekit = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.10"
