/* Lots of fonts! */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bowlby+One+SC&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Krona+One&display=swap');
/* 
Fonts:
font-family: 'Anton', sans-serif;
font-family: 'Bowlby One SC', cursive;
font-family: 'Kanit', sans-serif;
font-family: 'Krona One', sans-serif;
font-family: 'Roboto', sans-serif;
*/

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

.page-container {
	position: relative;
	min-height: 100vh;
}

a {
	text-decoration: none;
	color: #55544f;
	font-weight: 500;
}

a:hover {
	text-decoration: dotted;
	color: #959390;
}

/* Footer (Universal) */
.footerContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 2.5rem;
	background-color: whitesmoke;
	position: relative;
	bottom: 0;
	width: 100%;
	border-top: 1px dotted black;
}

.footerText {
	font-size: 0.75rem;
}

/* Landing Header */
.appbar {
	display: flex;
	padding-left: 2rem;
	padding-right: 2rem;
	flex-direction: row;
	align-content: center;
	justify-content: space-between;
	align-items: center;
	background-color: #0d0d0d;
}

.menuIcon {
	height: 35px;
	margin-top: 2px;
	margin-bottom: 2px;
}

.menuButton {
	margin-right: 1rem;
}

/* Landing Page */
.showcaseContainer {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	min-height: 400px;
	background-image: url('https://cdn.douglasavenue.com/krk/media/img/showcaseBG.png');
	background-size: cover;
	background-position: center;
	overflow: hidden;
	color: whitesmoke;
}

.showcaseInfobox {
	padding: 1.5rem;
	margin-left: 10px;
	margin-right: 10px;
}
.showcaseHeader {
	color: white;
	margin: 0 auto;
	font-family: 'Roboto', sans-serif;
	font-weight: 800;
}
.showcaseParagraph {
	color: white;
	margin: 0 auto;
}
.showcaseLogo {
	width: 100%;
}
.salesContainer {
	margin-top: 1rem !important;
	margin-bottom: 1rem;
	min-height: 675px;
}

@media only screen and (max-width: 899px) {
	.salesBox {
		position: relative;
		margin: 0 1rem;
	}
}

@media only screen and (min-width: 900px) {
	.salesBox {
		position: relative;
		min-height: 100%;
		margin: 0 1rem;
	}
}

.cardButtonRow {
	position: absolute;
	bottom: 15px;
	width: 100%;
	justify-content: start;
}

.salesBoxTitle {
	margin-bottom: 0.35rem;
}
.salesMedia {
	width: 100%;
	min-height: 100px;
}
.ctaContainer {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	background-color: #0d0d0d;
	padding-top: 1rem;
	padding-bottom: 2rem;
}
.ctaBox {
	position: relative;
	background-color: whitesmoke;
	border-color: gray;
	border-width: 2px;
	border-style: solid;
	border-radius: 15px;
	min-height: 400px;
}
.ctaHeader {
	padding-top: 1rem;
	text-align: center;
}
.ctaText {
	padding: 1.1rem;
}
.ctaButtonContainer {
	justify-content: flex-start;
	position: absolute;
	bottom: 15px;
}

/* Test User Box Styling */

.testUserHeader {
	margin-bottom: 15px;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Bowlby One SC', cursive !important;
}

.testUserText {
	text-align: justify;
	padding-top: 2px;
	padding-bottom: 2px;
}

/* Login Page Styling */
.loginContainer {
	display: flex;
	justify-content: flex-start;
	padding: 0 !important;
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
	border-radius: 15px;
	min-height: 95vh;
}

.loginLeft {
	display: flex;
	background-image: url('https://cdn.douglasavenue.com/krk/media/img/mgronald1.jpg');
	background-position: top left;
	background-repeat: no-repeat;
	background-size: cover;
	height: 95vh;
}

.registerLeft {
	display: flex;
	background-image: url('https://cdn.douglasavenue.com/krk/media/img/mgronald2.jpg');
	background-position: top left;
	background-repeat: no-repeat;
	height: 95vh;
}

@media only screen and (max-width: 767px) {
	.registerLeft {
		display: none;
	}
}

.loginTestUserBlock {
	align-self: center;
	background-color: aliceblue;
	opacity: 80%;
	padding: 1rem;
	max-width: 100%;
}

.loginTestUserBlockMob {
	align-self: center;
	width: 100%;
	background-color: aliceblue;
	padding: 1rem;
	max-width: 100%;
	border: 1px solid black;
}

.loginRight {
	display: flex;
	flex-direction: column;
	min-height: 95vh;
}

.loginHeaderBlock {
	padding: 2rem;
	margin-bottom: 1rem;
}

.loginBlockHeader {
	text-align: center;
	font-family: 'Krona One', sans-serif !important;
	letter-spacing: 0.09rem;
}

@media only screen and (min-width: 1200px) {
	.loginBlockHeader {
		font-size: 4rem !important;
	}
}
@media only screen and (max-width: 1199px) {
	.loginBlockHeader {
		font-size: 2.8rem !important;
	}
}

.loginBlockSubhead {
	font-weight: 400;
	font-size: 1rem;
	text-transform: uppercase;
	text-align: center;
	font-family: 'Kanit', sans-serif !important;
	letter-spacing: 0.23rem;
	margin-top: 0.25rem;
	color: grey;
}

.loginFormBlock {
	padding: 0.5rem 1rem;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	border-radius: 10px;
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
	margin: 0.5rem !important;
}

.loginFormHeader {
	font-weight: '700';
}

.loginFormWarning {
	color: darkred;
	font-weight: 700;
	text-align: center;
}

.loginButtonContainer {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.loginButton {
	margin: 0.5rem !important;
}

.loginButtonSubmit {
	margin-left: 0.5rem;
}

.loginHelper {
	font-size: 0.8rem;
	color: blue;
	margin: 0.5rem 0;
	text-align: center !important;
}

/* BBS Main Page aka All The Posts and Events! */

.bbsContainer {
	/* display: flex; */
	flex-wrap: wrap-reverse;
	/* justify-content: center; */
	/* align-items: flex-start; */
	padding: 0 2rem;
	min-height: 95vh;
}
.bbsLeftColumn {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
	min-height: 100%;
}
.bbsRightColumn {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	min-height: 100%;
	width: 100%;
}

/* BBS User Panel */

.userPanel {
	border-bottom: 1px solid black;
	min-height: 250px;
	width: 100%;
}
.userPanelContainer {
	margin: 1rem 0;
}
.userPanelImg {
	border-radius: 10px;
	box-shadow: 0 0.2rem 0.3rem rgba(0, 0, 0, 0.45);
	width: 150px;
	height: 150px;
	margin-right: 1rem;
}
.userPanelPersonal {
	display: flex;
	flex-direction: column;
	margin-left: 0.75rem;
	padding: 0.2rem;
}
.userUserName {
	font-family: 'Khula', sans-serif !important;
	font-weight: 800 !important;
	font-size: 3rem !important;
	line-height: 1 !important;
	margin-bottom: 1rem;
}
.userRealName {
	font-family: 'Kanit', sans-serif !important;
	font-weight: 200 !important;
	font-size: 2rem !important;
	line-height: 1 !important;
	color: grey !important;
}
.userDepartment {
	font-family: 'Kanit', sans-serif !important;
	font-weight: 100 !important;
	font-size: 0.75rem !important;
	line-height: 1 !important;
}
.userOptions {
	padding: 1rem;
}
