/* Lots of fonts! */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* 
Fonts:
font-family: 'Anton', sans-serif;
font-family: 'Bowlby One SC', cursive;
font-family: 'Kanit', sans-serif;
font-family: 'Krona One', sans-serif;
font-family: 'Roboto', sans-serif;
*/

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

.page-container {
	position: relative;
	min-height: 100vh;
}

a {
	text-decoration: none;
	color: #2c53ff;
	font-weight: 500;
}

a:hover {
	text-decoration: dotted;
	color: #617eff;
}

/* Footer (Universal) */
.footerContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 2.5rem;
	background-color: whitesmoke;
	position: relative;
	bottom: 0;
	width: 100%;
	border-top: 1px dotted black;
}

.footerText {
	font-size: 0.5rem;
}

/* Landing Header */
.appbar {
	display: flex;
	padding-left: 2rem;
	padding-right: 2rem;
	flex-direction: row;
	align-content: center;
	justify-content: space-between;
	align-items: center;
	background-color: #0d0d0d;
}

.menuIcon {
	height: 35px;
	margin-top: 2px;
	margin-bottom: 2px;
}

.menuButton {
	margin-right: 1rem;
}

/* Landing Page */
.showcaseContainer {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	min-height: 400px;
	background-image: url('https://cdn.douglasavenue.com/krk/media/img/showcaseBG.png');
	background-size: cover;
	background-position: center;
	overflow: hidden;
	color: whitesmoke;
}

.showcaseInfobox {
	padding: 1.5rem;
	margin-left: 10px;
	margin-right: 10px;
}
.showcaseHeader {
	color: white;
	margin: 0 auto;
	font-family: 'Roboto', sans-serif;
	font-weight: 800;
}
.showcaseParagraph {
	color: white;
	margin: 0 auto;
}
.showcaseLogo {
	width: 100%;
}
.salesContainer {
	margin-top: 1rem !important;
	margin-bottom: 1rem;
	min-height: 500px;
}

@media only screen and (max-width: 1199px) {
	.salesBox {
		position: relative;
		margin: 0 1rem;
	}
}

@media only screen and (min-width: 1200px) {
	.salesBox {
		position: relative;
		min-height: 475px;
		margin: 0 1rem;
	}
}

.cardButtonRow {
	position: absolute;
	bottom: 0;
	width: 100%;
	justify-content: space-evenly;
}

.salesBoxTitle {
	margin-bottom: 0.35rem;
}
.salesMedia {
	width: 100%;
	min-height: 100px;
}
.ctaContainer {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	background-color: #0d0d0d;
	padding-top: 1rem;
	padding-bottom: 2rem;
}
.ctaBox {
	position: relative;
	border-color: white;
	border-width: 2px;
	border-style: solid;
	border-radius: 15px;
	min-height: 300px;
	padding: 1rem;
}
.ctaHeader {
	color: white;
	padding: 1rem;
	text-align: center;
}
.ctaText {
	color: white;
	padding: 1.1rem;
}
.ctaButtonContainer {
	display: flex;
	justify-content: space-around;
	position: absolute;
	bottom: 0;
}
